// Mojo Pinouts
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50 %;
CONFIG VCCAUX = 3.3;

NET "clk"       LOC = P56   | IOSTANDARD = LVCMOS33;
NET "rst_n"     LOC = P38   | IOSTANDARD = LVCMOS33;

// CIA Interface
NET DSKCHANGE_n LOC = P40   | IOSTANDARD = LVCMOS33; // Pin  2
NET DSKIDX_n    LOC = P34   | IOSTANDARD = LVCMOS33; // Pin  8
NET DSKSEL0_n   LOC = P32   | IOSTANDARD = LVCMOS33; // Pin 10
NET DSKMOTOR_n  LOC = P29   | IOSTANDARD = LVCMOS33; // Pin 16
NET DSKDIREC    LOC = P26   | IOSTANDARD = LVCMOS33; // Pin 18
NET DSKSTEP_n   LOC = P23   | IOSTANDARD = LVCMOS33; // Pin 20
NET DSKWD_n     LOC = P21   | IOSTANDARD = LVCMOS33; // Pin 22
NET DSKWE_n     LOC = P51   | IOSTANDARD = LVCMOS33; // Pin 24
NET DSKTRACK0_n LOC = P41   | IOSTANDARD = LVCMOS33; // Pin 26
NET DSKPROT_n   LOC = P35   | IOSTANDARD = LVCMOS33; // Pin 28
NET DSKRD_n     LOC = P33   | IOSTANDARD = LVCMOS33; // Pin 30
NET DSKSIDE     LOC = P30   | IOSTANDARD = LVCMOS33; // Pin 32
NET DSKRDY_n    LOC = P27   | IOSTANDARD = LVCMOS33; // Pin 34


NET "led[0]" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "led[1]" LOC = P133 | IOSTANDARD = LVCMOS33;
NET "led[2]" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "led[3]" LOC = P131 | IOSTANDARD = LVCMOS33;
NET "led[4]" LOC = P127 | IOSTANDARD = LVCMOS33;
NET "led[5]" LOC = P126 | IOSTANDARD = LVCMOS33;
NET "led[6]" LOC = P124 | IOSTANDARD = LVCMOS33;
NET "led[7]" LOC = P123 | IOSTANDARD = LVCMOS33;

//NET "spi_mosi" LOC = P44 | IOSTANDARD = LVCMOS33;
//NET "spi_miso" LOC = P45 | IOSTANDARD = LVCMOS33;
//NET "spi_ss" LOC = P48 | IOSTANDARD = LVCMOS33;
//NET "spi_sck" LOC = P43 | IOSTANDARD = LVCMOS33;
//NET "spi_channel[0]" LOC = P46 | IOSTANDARD = LVCMOS33;
//NET "spi_channel[1]" LOC = P61 | IOSTANDARD = LVCMOS33;
//NET "spi_channel[2]" LOC = P62 | IOSTANDARD = LVCMOS33;
//NET "spi_channel[3]" LOC = P65 | IOSTANDARD = LVCMOS33;
NET "UART_TX" LOC = P67 | IOSTANDARD = LVCMOS33;
NET "UART_RX" LOC = P75 | IOSTANDARD = LVCMOS33;
//NET "avr_tx" LOC = P55 | IOSTANDARD = LVCMOS33;
//NET "avr_rx" LOC = P59 | IOSTANDARD = LVCMOS33;
//NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVCMOS33;